<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductVersion=!(bind.FileVersion.app.exe) ?>
  <?define ProductManufacturer = "SQLBI" ?>
  <?define AppUrlInfoAbout = "https://github.com/sql-bi/bravo" ?>
  <?define AppInstallFolder = "SQLBI" ?>
  <?define AppInstallSubfolder = "BravoStoreLauncher" ?>
  <?define AppExecutableName = "BravoStoreLauncher.exe" ?>
  <?define AppName = "BravoStoreLauncher" ?>
  <?define PbitoolName = "bravostore.pbitool.json" ?>
  
  <?if $(sys.BUILDARCH) = x64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define ProductName = "!(loc.ProductName)" ?>
    <?define Win64 = "yes" ?>
  <?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define ProductName = "!(loc.ProductName) (32 bit)" ?>
    <?define Win64 = "no" ?>
  <?endif ?>
  
  <Product Id="*" Name="$(var.ProductName)" Language="!(loc.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="{A55F72BA-6477-4DAF-999C-13E056F1678E}">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="$(var.ProductManufacturer)" Description="!(loc.PackageDescription)" Comments="!(loc.PackageComments)" />
    <Binary Id="CustomActionBinary" SourceFile="..\assets\Bravo.Installer.Wix.CA.dll" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" AllowDowngrades="no" DowngradeErrorMessage="!(loc.MajorUpgradeDowngradeErrorMessage)" Schedule="afterInstallValidate" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    
    <Feature Id="Complete" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="app.exe" />
      <ComponentRef Id="pbitool.json" />
    </Feature>

    <Icon Id="app.ico" SourceFile="$(var.PublishFolder)\$(var.AppExecutableName)" />

    <UIRef Id="WixUI_InstallDir" />
    
    <WixVariable Id="WixUIDialogBmp" Value="..\assets\background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="..\assets\banner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="..\assets\license.rtf" />
     
    <Property Id="ARPPRODUCTICON">app.ico</Property>
    <Property Id="ARPURLINFOABOUT">$(var.AppUrlInfoAbout)</Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <CustomAction Id="SetPropertyValuesRegisterExternalTool" Property="RegisterExternalTool" Value="CUSTOMDATAPRODUCTNAME=$(var.AppName);CUSTOMDATAPRODUCTVERSION=$(var.ProductVersion);CUSTOMDATAPRODUCTEXECUTABLEPATH=[INSTALLFOLDER]$(var.AppExecutableName);CUSTOMDATAPBITOOLPATH=[POWERBIEXTERNALTOOLSFOLDER]$(var.PbitoolName)" />
    <CustomAction Id="RegisterExternalTool" BinaryKey="CustomActionBinary" DllEntry="RegisterExternalTool" Execute="deferred" Impersonate="no" />
    <CustomAction Id="SetPropertyValuesAfterInstall" Property="AfterInstall" Value="CUSTOMDATAPRODUCTNAME=$(var.AppName);CUSTOMDATAPRODUCTVERSION=$(var.ProductVersion)" />
    <CustomAction Id="AfterInstall" BinaryKey="CustomActionBinary" DllEntry="AfterInstall" Execute="deferred" Impersonate="no" />
    <CustomAction Id="SetPropertyValuesUnregisterExternalTool" Property="UnregisterExternalTool" Value="CUSTOMDATAPRODUCTNAME=$(var.AppName);CUSTOMDATAPRODUCTVERSION=$(var.ProductVersion);CUSTOMDATAPRODUCTEXECUTABLEPATH=[INSTALLFOLDER]$(var.AppExecutableName);CUSTOMDATAPBITOOLPATH=[POWERBIEXTERNALTOOLSFOLDER]$(var.PbitoolName)" />
    <CustomAction Id="UnregisterExternalTool" BinaryKey="CustomActionBinary" DllEntry="UnregisterExternalTool" Execute="deferred" Impersonate="no" />
    <CustomAction Id="SetPropertyValuesAfterUninstall" Property="AfterUninstall" Value="CUSTOMDATAPRODUCTNAME=$(var.AppName);CUSTOMDATAPRODUCTVERSION=$(var.ProductVersion)" />
    <CustomAction Id="AfterUninstall" BinaryKey="CustomActionBinary" DllEntry="AfterUninstall" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="SetPropertyValuesRegisterExternalTool" After="InstallFiles" />
      <Custom Action="RegisterExternalTool" After="SetPropertyValuesRegisterExternalTool"><![CDATA[NOT Installed AND NOT REMOVE]]></Custom>
      <Custom Action="SetPropertyValuesAfterInstall" After="RegisterExternalTool" />
      <Custom Action="AfterInstall" After="SetPropertyValuesAfterInstall"><![CDATA[NOT Installed AND NOT REMOVE]]></Custom>
      <Custom Action="SetPropertyValuesUnregisterExternalTool" After="RemoveFiles" />
      <Custom Action="UnregisterExternalTool" After="SetPropertyValuesUnregisterExternalTool"><![CDATA[(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")]]></Custom>
      <Custom Action="SetPropertyValuesAfterUninstall" After="UnregisterExternalTool" />
      <Custom Action="AfterUninstall" After="SetPropertyValuesAfterUninstall"><![CDATA[(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")]]></Custom>
    </InstallExecuteSequence>
    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="AppManufacturer" Name="$(var.AppInstallFolder)">
          <Directory Id="INSTALLFOLDER" Name="$(var.AppInstallSubfolder)" />
        </Directory>
      </Directory>

      <Directory Id="CommonFilesFolder">
        <Directory Id="MicrosoftShared" Name="Microsoft Shared">
          <Directory Id="PowerBIDesktop" Name="Power BI Desktop">
            <Directory Id="POWERBIEXTERNALTOOLSFOLDER" Name="External Tools" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="app.exe" Guid="{E880F50A-6C3B-4EB6-B639-752803CEF497}" Win64="$(var.Win64)">
        <File Id="app.exe" Name="$(var.AppExecutableName)" Source="$(var.PublishFolder)\$(var.AppExecutableName)" Checksum="yes" KeyPath="yes" />
        <RemoveFile Id="REMOVEALL" Directory="INSTALLFOLDER" Name="*.*" On="both" />
        <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\$(var.AppName)" Name="installFolder" Value="[INSTALLFOLDER]" Type="string" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="POWERBIEXTERNALTOOLSFOLDER">
      <Component Id="pbitool.json" Guid="{CC0B5ECA-844C-4EE2-94A0-0CF9ADD4A0F3}" Win64="$(var.Win64)">
        <File Id="pbitool.json" Name="$(var.PbitoolName)" Source="..\assets\$(var.PbitoolName)" KeyPath="yes" />
        <RemoveFile Id="REMOVEPOWERBIEXTERNALTOOL" Name="$(var.PbitoolName)" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
