// main: main.less
.export-data {
    h1 {
        .icon-export-data;
    }
    .scene-content {
        .flexbox(flex-start, stretch, column);

        .cols {
            height: 100%;
            width: 100%;
            .flex(0 1 auto);
            overflow: auto;
            
            .coll {
                width: 50%;
                margin-right: 30px;
                .flex(1 1 auto);
                .flexbox(flex-start, flex-start, column);
            }
            .colr {
                width: calc(50% - 60px);
                margin: 0 0 0 20px;

            }
        }

        .table {
            width:100%;
        }

        .toolbar {
            width: 100%;
            .flexbox(center);
            .flex-wrap(wrap);
            
            margin: 0 0 30px 0;

            .search {
                margin: 5px 15px 5px 5px;
                min-width:150px;
                width: 50%;
            }
        }

        .export-options {
            margin-top: 30px;

            .menu {
                margin-bottom: 20px;
                cursor: default !important;
            }

            .show-if-export-csv-delimiter-custom {
                margin-top: 10px
            }
            .export-csv-delimiter-custom {
                width: 84px
            }
        }

        .scene-action {
            .flexbox(center, flex-end);
            width: 100%;
            //margin:20px 0 0 0;

            .do-export {
                //margin-top: 10px;
                margin-left: auto;
            }
        }

        
    }
}