name: CI
on:
  pull_request:
  workflow_dispatch:
env:
  CONFIGURATION: 'Release'
jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: global.json
    - name: .NET info
      run: dotnet --info
    - name: .NET restore
      run: dotnet restore
    - name: .NET build
      run: dotnet build Bravo.sln --configuration ${{ env.CONFIGURATION }} --no-restore
    - name: .NET test
      run: dotnet test Bravo.sln --configuration ${{ env.CONFIGURATION }} --no-build --verbosity normal