name: CI
on:
  pull_request:
  workflow_dispatch:
jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
    - name: checkout
      uses: actions/checkout@v6
    - name: setup dotnet SDK
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    - name: setup dotnet 6.0 runtime
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'
    - name: dotnet restore
      run:  dotnet restore
    - name: dotnet build
      run:  dotnet build Bravo.sln --configuration Release --no-restore
    - name: dotnet test
      run:  dotnet test Bravo.sln --configuration Release --no-build --verbosity normal