<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductVersion=!(bind.FileVersion.app.exe) ?>
  <?define ProductManufacturer = "SQLBI Corporation" ?>
  <?define AppUrlInfoAbout = "https://github.com/sql-bi/bravo" ?>
  <?define AppInstallFolder = "SQLBI Bravo" ?>
  <?define AppExecutableName = "Bravo.exe" ?>
  
  <?if $(sys.BUILDARCH) = x64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define ProductName = "!(loc.ProductName)" ?>
    <?define Win64 = "yes" ?>
  <?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define ProductName = "!(loc.ProductName) (32 bit)" ?>
    <?define Win64 = "no" ?>
  <?endif ?>
  
  <Product Id="*" Name="$(var.ProductName)" Language="!(loc.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="{888BDB48-B16A-4D9A-8FE6-0206897B1162}">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="$(var.ProductManufacturer)" Description="!(loc.PackageDescription)" Comments="!(loc.PackageComments)"  />
    <Binary Id="CustomActionBinary" SourceFile="extensions\actions\Sqlbi.Bravo.Installer.CA.dll" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" AllowDowngrades="no" DowngradeErrorMessage="!(loc.MajorUpgradeDowngradeErrorMessage)" Schedule="afterInstallValidate" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    
    <Feature Id="Complete" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="app.exe" />
      <ComponentRef Id="pbitool.json" />
      <ComponentRef Id="AppProgramMenuShortcut" />
      <ComponentRef Id="AppDesktopShortcut" />
      <ComponentGroupRef Id="AppComponentsAutogenerated" />
    </Feature>

    <Icon Id="app.ico" SourceFile="$(var.PublishFolder)\$(var.AppExecutableName)" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
<!--
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
-->
    </UI>
    <WixVariable Id="WixUIDialogBmp" Value="assets\background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="assets\banner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="assets\license.rtf" />
     
    <Property Id="ARPPRODUCTICON">app.ico</Property>
    <Property Id="ARPURLINFOABOUT">$(var.AppUrlInfoAbout)</Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
<!--
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.ExitDialogCheckboxRunApplication)" />
    <Property Id="WixShellExecTarget" Value="[#app.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
-->
    <CustomAction Id="SetCustomActionPropertyValues" Property="RegisterExternalTool" Value="INSTALLEDEXECUTABLEPATH=[INSTALLFOLDER]$(var.AppExecutableName)" />
    <CustomAction Id="RegisterExternalTool" BinaryKey="CustomActionBinary" DllEntry="PowerBIDesktopRegisterExternalTool" Execute="deferred" Impersonate="no" />
    
    <InstallExecuteSequence>
      <Custom Action="SetCustomActionPropertyValues" After="InstallFiles" />
      <Custom Action="RegisterExternalTool" After="SetCustomActionPropertyValues">NOT Installed AND NOT REMOVE</Custom>
    </InstallExecuteSequence>
    
  </Product>

  <Fragment>
    
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="$(var.AppInstallFolder)" />
      </Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder" Name="ProgramMenu" />
      <Directory Id="CommonFilesFolder">
        <Directory Id="MicrosoftShared" Name="Microsoft Shared">
          <Directory Id="PowerBIDesktop" Name="Power BI Desktop">
            <Directory Id="POWERBIEXTERNALTOOLSFOLDER" Name="External Tools" />
          </Directory>
        </Directory>
      </Directory>
      
    </Directory>
    
  </Fragment>

  <Fragment>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="AppDesktopShortcut" Guid="{8C035041-08C9-44CB-B254-D66DA096C53D}" Win64="$(var.Win64)">
        <Shortcut Id="AppDesktopShortcut" Directory="DesktopFolder" Name="$(var.ProductName)" Target="[INSTALLFOLDER]$(var.AppExecutableName)" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\$(var.ProductName)" Name="installed" Value="1" Type="integer" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="AppProgramMenuShortcut" Guid="{B6EB02B3-E16E-4661-89E4-A46C50815577}" Win64="$(var.Win64)">
        <Shortcut Id="AppProgramMenuShortcut" Directory="ProgramMenuFolder" Name="$(var.ProductName)" Target="[INSTALLFOLDER]$(var.AppExecutableName)" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\$(var.ProductName)" Name="installed" Value="1" Type="integer" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="app.exe" Guid="{E880F50A-6C3B-4EB6-B639-752803CEF497}">
        <File Id="app.exe" Name="$(var.AppExecutableName)" Source="$(var.PublishFolder)\$(var.AppExecutableName)" KeyPath="yes" Checksum="yes" />
        <RemoveFile Id="REMOVEALL" Directory="INSTALLFOLDER" Name="*.*" On="both" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="POWERBIEXTERNALTOOLSFOLDER">
      <Component Id="pbitool.json" Guid="{CC0B5ECA-844C-4EE2-94A0-0CF9ADD4A0F3}" Win64="$(var.Win64)">
        <File Id="pbitool.json" Name="bravo.pbitool.json" Source="assets\bravo.pbitool.json" KeyPath="yes" />
        <RemoveFile Id="REMOVEPOWERBIEXTERNALTOOL" Name="bravo.pbitool.json" On="uninstall" />
      </Component>
    </DirectoryRef>
    
  </Fragment>
  
</Wix>
